<div class="container-fluid main-cont">
    <div class="sub-cont">

        <form [formGroup]="Loginform" (ngSubmit)="submit()">

        <label for="name">Name </label><br>
        <input type="text" id="name"  formControlName="name"><br>
        <label for="name">email </label><br>
        <input type="email" id="name" formControlName="email" ><br>
        <button class="btn btn-outline-warning mt-4 mb-3">Join</button>
        <span class="span-cont mt-3">OR</span>
        <hr>
        <div id="google-btn"></div>

    </form>
    </div>
</div>

<h1>hellos</h1>