<div class="">
  <div class="img-cont">
    <img
      src="assets/DALL·E 2024-02-23 12.03.24 - A sleek and modern banner for an IT company website, featuring a minimalist white theme. The design should include symbolic representations of technol.webp"
      alt=""
    />
    <h1 class="text-banner">
      VownWeb - Where Vision Meets Innovation in Web Solutions
    </h1>
    <button class="btn btn-banner btn-outline-warning">View More</button>
  </div>
  <div class="service-cont container">
    <h2 class="what-text mt-5">What We Do</h2>
    <hr />
    <div class="row card-main">
      <div class="col-md-4 col-6 card-cont">
        <h4 class="ser-text text-center">WEB DEVELOPMENT</h4>
        <i class="material-icons web">web</i>
      </div>
      <div class="col-md-4 col-6 card-cont">
        <h4 class="ser-text text-center">APP DEVELOPMENT</h4>
        <i class="material-icons web">web</i>
      </div>
      <div class="col-md-4 col-6 card-cont">
        <h4 class="ser-text text-center">UI UX DESIGNING</h4>
        <i class="material-icons web">web</i>
      </div>
      <div class="col-md-4 col-6 card-cont">
        <h4 class="ser-text text-center">GRAPHIC DESIGNING</h4>
        <i class="material-icons web">web</i>
      </div>
      <div class="col-md-4 col-6 card-cont">
        <h4 class="ser-text text-center">SOFTWARE DEVELOPMENT</h4>
        <i class="material-icons web">web</i>
      </div>
      <div class="col-md-4 col-6 card-cont">
        <h4 class="ser-text text-center">DIGITAL MARKETING</h4>
        <i class="material-icons web">web</i>
      </div>
      <div class="col-md-4 col-6 card-cont">
        <h4 class="ser-text text-center">VIDEO EDITING</h4>
        <i class="material-icons web">web</i>
      </div>
      <div class="col-md-4 col-6 card-cont">
        <h4 class="ser-text text-center">IT CONSULTING</h4>
        <i class="material-icons web">web</i>
      </div>
    </div>
    <button class="btn btn-outline-warning btn-explore">View More</button>
  </div>
  <div class="whychoose-cont mt-5 container">
    <h2 class="what-text mt-5">What Makes Us Unique</h2>
    <hr />
    <div
      id="carouselExampleCaptions"
      class="carousel slide mt-4"
      data-bs-ride="carousel"
    >
      <div class="carousel-indicators">
        <button
          type="button"
          data-bs-target="#carouselExampleCaptions"
          data-bs-slide-to="0"
          class="active"
          aria-current="true"
          aria-label="Slide 1"
        ></button>
        <button
          type="button"
          data-bs-target="#carouselExampleCaptions"
          data-bs-slide-to="1"
          aria-label="Slide 2"
        ></button>
        <button
          type="button"
          data-bs-target="#carouselExampleCaptions"
          data-bs-slide-to="2"
          aria-label="Slide 3"
        ></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="carousel-overlay"></div>
          <img
            src="assets/DALL·E 2024-02-23 16.02.43 - Visualize a bustling modern office environment showcasing a variety of IT solutions. Imagine a large, open-plan workspace filled with diverse teams of.webp"
            style="height: 80vh"
            class="d-block w-100"
            alt="..."
          />
          <div class="carousel-caption d-none d-md-block">
            <h5>Expertise Across Diverse IT Solutions</h5>
            <p>
              Delivering comprehensive IT solutions backed by a team of skilled
              professionals with diverse expertise.
            </p>
          </div>
        </div>
        <div class="carousel-item">
          <div class="carousel-overlay"></div>
          <img
            src="assets/DALL·E 2024-02-23 16.03.01 - Illustrate a warm and welcoming customer service center, emphasizing commitment to client satisfaction and support. Picture a spacious, well-lit envir.webp"
            style="height: 80vh"
            class="d-block w-100"
            alt="..."
          />
          <div class="carousel-caption d-none d-md-block">
            <h5>Commitment to Client Satisfaction and Support:</h5>
            <p>
              Dedicated to exceeding client expectations with personalized
              support and unwavering commitment.
            </p>
          </div>
        </div>
        <div class="carousel-item">
          <div class="carousel-overlay"></div>
          <img
            src="assets/DALL·E 2024-02-23 16.04.28 - Visualize an innovative and adaptable IT company, embodying the spirit of technological advancement and flexibility. Picture a modern workspace filled.webp"
            style="height: 80vh"
            class="d-block w-100"
            alt="..."
          />
          <div class="carousel-caption d-none d-md-block">
            <h5>Innovation and Adaptability</h5>
            <p>
              Pioneering tech solutions through continuous innovation and
              adaptability to emerging trends.
            </p>
          </div>
        </div>
      </div>
      <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#carouselExampleCaptions"
        data-bs-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button
        class="carousel-control-next"
        type="button"
        data-bs-target="#carouselExampleCaptions"
        data-bs-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
  <div class="ourdemo-cont mt-5 container">
    <h2 class="what-text mt-5">Discover Our Demo Collection</h2><hr>
    <div class="container">
      <div class="row mt-4">
          <div class="col-md-4 mt-4">
              <div class="demo-cont">
                  <img src="assets/7610680.jpg" alt="">
                  <button class="btn btn-info btn-incard">View Site</button>
                  <div class="hoverlay"></div>
              </div>
          </div>
          <div class="col-md-4 mt-4">
              <div class="demo-cont">
                  <img src="assets/2811938.jpg" alt="">
                  <button class="btn btn-info btn-incard">View Site</button>
                  <div class="hoverlay"></div>

              </div>
          </div>
          <div class="col-md-4 mt-4">
              <div class="demo-cont">
                  <img src="assets/3487425.jpg" alt="">
                  <button class="btn btn-info btn-incard">View Site</button>
                  <div class="hoverlay"></div>

              </div>
          </div>
      </div>
      <div class="row mt-4">
          <div class="col-md-4 mt-4">
              <div class="demo-cont">
                  <img src="assets/3606208.jpg" alt="">
                  <button class="btn btn-info btn-incard">View Site</button>
                  <div class="hoverlay"></div>

              </div>
          </div>
          <div class="col-md-4 mt-4">
              <div class="demo-cont">
                  <img src="assets/homepage-seen-computer-screen.jpg" alt="">           
                  <button class="btn btn-info btn-incard">View Site</button>
                  <div class="hoverlay"></div>

              </div>
          </div>
          <div class="col-md-4 mt-4">
              <div class="demo-cont">
                  <img src="assets/2212.i101.038.S.m004.c13.web hosting icons isometric.jpg" alt="">
                  <button class="btn btn-info btn-incard">View Site</button>
                  <div class="hoverlay"></div>

              </div>
          </div>
      </div>
      <button class="btn btn-outline-warning btn-explore">Explore More</button>
  </div>
  
  </div>
  <div class="whychooseus-cont container">
    <h2 class="what-text mt-5">Why Choose Us</h2><hr>
    <div class="row mt-4">
      <div class="expter-cont col-md-4 ">
        <h2 class="ht-text">YEARS</h2>
        <h2 class="e-text">7 years experience</h2>
      </div>
      <div class="expter-cont col-md-4 ">
        <h2 class="ht-text ">PROJECTS</h2>
        <h2 class="e-text ">123+ projects</h2>
      </div>
      <div class="expter-cont col-md-4">
        <h2 class="ht-text ">CLAINTS</h2>
        <h2 class="e-text ">100+ clients</h2>
      </div>
    </div>
  </div>
</div>
